<h1 mat-dialog-title>Rate the match</h1>
<div mat-dialog-content>
  <mat-slider
        [disabled]="false"
        [max]="10"
        [min]="0"
        [step]="1"
        [discrete]="false"
        [showTickMarks]="false">
      <input matSliderThumb [(ngModel)]="vote" #slider>
    </mat-slider>
  <p>Your vote: {{ vote }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <span class="spacer"></span>
  <div class="submit-buttons">
    <button mat-button (click)="onVoteClick()">Vote</button>
    <button mat-button (click)="onClearClick()">Clear</button>
  </div>
</div>
