/* app.component.css */
app-screen-manager {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.mat-toolbar {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  height: 50px;
  background: linear-gradient(to right, rgb(152 127 187) 5%, #652cb3 12%);
}

.web-name {
  font-weight: bold;
  font-size: 20px;
}

.left-buttons {
  display: flex;
  margin-right: auto;
  margin-left: 200px;
}

.left-buttons button {
  margin-right: 50px;
  color: white !important;
  font-size: 18px;
}

.right-buttons {
  display: flex;
  margin-right: 250px;
}

.right-buttons button {
  margin-right: 30px;
  color: white !important;
  font-size: 18px;
}

.mat-toolbar .mat-button {
  margin-right: 5px;
}

.content {
  padding: 20px;
}
