<!-- screen-manager.component.html -->

<mat-toolbar>
  <span class="web-name">FutRank</span>
  <div class="left-buttons">
    <button mat-button [matMenuTriggerFor]="menu">Ranking</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToMatches()">Top Matches</button>
      <button mat-menu-item (click)="navigateToClubes()">Top Clubes</button>
    </mat-menu>
    <button mat-button color="primary">Community</button>
  </div>
  <div class="right-buttons">
    <button mat-button color="primary">Login</button>
    <button mat-button color="primary">Sign up</button>
  </div>
</mat-toolbar>



